RewriteEngine On
RewriteBase /

RewriteCond %{HTTP_HOST} ^www\.(.*) [NC]
RewriteRule ^(.*)$ http://%1/$1 [R=301,L]


#если запрошенного файла или папки не существует
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f

#404
RewriteRule ^(.*)/(.*)/404.php /views/404.php [L,QSA]
#по id
RewriteRule ^(.*)/([0-9]+)/?$ index.php?act=$1&id=$2 [L,QSA]
#по контроллеру и экшену
RewriteRule ^(.*)/(.*)/(.*)/?$ index.php?cln=$1&act=$2 [L,QSA]

